<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="kr.co.cocean.mypage.dao.AddressDAO">

<!--  
<select id="addresslist" resultType="kr.co.morae.mypage.dto.AddressDTO">
		select userId, chargePrice, chargeDate, depositor from chargeHistory
			where userId = #{param1} order by chargeNo desc limit 10 set #{param2}
	</select>
-->	
<!-- 
<select id="interioraddresslist" resultType="kr.co.morae.mypage.dto.AddressDTO">
	SELECT d.departmentName, p.positionName,r.rankName  FROM employee e ,department d , `position` p, `rank` r 
WHERE e.employeeID = #{param1} AND  e.departmentID = d.departmentID AND e.positionID = p.positionID And
e.rankID = r.rankID ;
	</select>
 -->
	<!-- 
<select id="interioraddresspage" resultType="int">
		select ceil(count()/10) as pages from employee where employeeID = #{param1}
</select>
 -->


<insert id="insert" parameterType="hashmap">
		INSERT into personalAddressBook (employeeID ,name,positionLevel,rankLevel,departmentName,phoneNumber)
values (#{userId},#{name},#{positionLevel},#{rankLevel},#{departmentName},#{phoneNumber});
	</insert>
	


</mapper>