<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="kr.co.cocean.aquarium.dao.AnimalDAO">	
	
	<select id="animalList" resultType="animal">
		SELECT am.animalID, am.nickname, bct.commonName, am.classificationCode, am.status
			FROM animalManagement am NATURAL JOIN biologicalClassificationTable bct
	</select>
	
	<select id="classficationSearch" resultType="classfication">
		SELECT speciesID, taxonomy, scientificName, commonName
			FROM biologicalClassificationTable
			WHERE taxonomy LIKE CONCAT('%',#{keyword},'%')
				OR scientificName LIKE CONCAT('%',#{keyword},'%')
				OR commonName LIKE CONCAT('%',#{keyword},'%')				
	</select>
	
	<select id="tankList" resultType="String">
		SELECT tankID FROM tankManagement WHERE branchID = #{param1}
	</select>
	
	<insert id="animalWrte" parameterType="animal" useGeneratedKeys="true" keyColumn="animalID" keyProperty="animalID">
    INSERT INTO animalManagement
	(speciesID, tankID, branchID, classificationCode, CodeNumber, nickname, individual, birthDate, entryDate, status, details)
    	SELECT #{speciesID},#{tankID},#{branchID},#{classificationCode},
			IFNULL((SELECT MAX(CodeNumber) FROM animalManagement WHERE classificationCode = #{classificationCode}), 0) + 1,
			#{nickname},#{individual},#{birthDate},#{entryDate},#{status},#{details}
	</insert>

	<insert id="upload">
		INSERT INTO file(category, idx, path, serverFileName, oriFileName)
			values(#{category},#{idx},#{path},#{serverFileName},#{oriFileName})
	</insert>
	
	<select id="animalDetail" resultType="animal">
		SELECT * FROM animalManagement WHERE animalID = #{param1}
	</select>
	
	<select id="animalInCharge" resultType="incharge">
		SELECT ic.idx, e.employeeID, de.hqName, de.departmentName, e.name FROM employee e 
			LEFT JOIN (SELECT d.departmentID, h.hqName, d.departmentName FROM department d NATURAL JOIN headquarters h WHERE d.isActive =1) AS de
				ON e.departmentID = de.departmentID
			INNER JOIN (SELECT employeeID, idx FROM inCharge WHERE category = 'animal' AND idx = #{param1}) AS ic ON e.employeeID = ic.employeeID
			WHERE e.status = '재직
	</select>
	
	<select id="animalLogPlan" resultType="logplan">
		SELECT * FROM logPlanTable WHERE coceanCategory = 'animal' AND idx = #{param1}
	</select>
	
</mapper>













