<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="kr.co.cocean.aquarium.dao.AnimalDAO">	
	
	<select id="animalList" resultType="animal">
		SELECT am.animalID, am.nickname, bct.commonName, am.classificationCode, am.status
			FROM animalManagement am NATURAL JOIN biologicalClassificationTable bct
	</select>
	
	<select id="classficationSearch" resultType="classfication">
		SELECT speciesID, taxonomy, scientificName, commonName
			FROM biologicalClassificationTable
			WHERE taxonomy LIKE CONCAT('%',#{keyword},'%')
				OR scientificName LIKE CONCAT('%',#{keyword},'%')
				OR commonName LIKE CONCAT('%',#{keyword},'%')				
	</select>	
</mapper>