<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="kr.co.cocean.approval.dao.ApprovalDAO">	
	
	<select id="list" resultType="form">
		SELECT * FROM draftForm
	</select>
	
	<!-- <select id="formSearch" parameterType="list" resultType="approval">
		SELECT * FROM draftForm WHERE title IN
			<foreach collection="list" item="item" open ="(" separator = "," close=")">
			 #{item}
			</foreach>
	</select> -->
	
	<select id="draftInfo" resultType="approval">
		SELECT DISTINCT name,r.rankName, departmentName,h.hqName,e.employeeID,e.remainingAnnualLeave FROM employee e LEFT OUTER JOIN department d ON e.departmentID=d.departmentID RIGHT OUTER JOIN headquarters h ON d.hqID=h.hqID 
 		LEFT OUTER JOIN rank r ON e.rankID=r.rankID WHERE e.employeeID=#{employeeID}
	</select>
	
	<select id="formTitle" resultType="form">
		SELECT formTitle,titleID FROM draftForm WHERE titleID=#{titleID}
	</select>
	
	<insert 
		id="write" 
		useGeneratedKeys="true"
		keyColumn="idx"
		keyProperty="idx">
    	 <choose>
	        <when test="tempSave == 0">
	            INSERT INTO draft (employeeID,publicStatus,tempSave,documentNo,titleID) VALUES (#{employeeID},#{publicStatus},#{tempSave},#{employeeID},#{titleID})
	        </when>
	        <when test="tempSave == 1">
	            INSERT INTO draft (employeeID,publicStatus,tempSave,documentNo,titleID,draftStatus) VALUES (#{employeeID},#{publicStatus},#{tempSave},#{employeeID},#{titleID},'임시저장')
	        </when>
    	</choose>
	</insert>
	
	<!-- <update id="updateTs" >
	    UPDATE draft SET publicStatus=#{publicStatus}, tempSave=#{tempSave} WHERE idx=#{idx}
	</update> -->

	<insert id="writeWorkDraft">
    	INSERT INTO workDraft (title,content,idx) VALUES (#{title},#{content},#{idx})
	</insert>
	
	<update id="updateWorkDraft">
    	UPDATE workDraft SET title=#{title},content=#{content} WHERE idx=#{idx}
	</update>
	
	<insert id="writeFile">
    	INSERT INTO file (category,idx,path,serverFileName,oriFileName) VALUES ('결재',#{idx},'draft',#{newFileName},#{oriFileName})
	</insert>
	
	<update id="updateFile">
    	UPDATE file SET serverFileName=#{newFileName},oriFileName=#{oriFileName} WHERE idx=#{idx}
	</update>
	
	<select id="employeeInfo" resultType="approval">
	SELECT DISTINCT name,r.rankName, departmentName,h.hqName,e.employeeID,p.positionName FROM employee e LEFT OUTER JOIN department d ON e.departmentID=d.departmentID RIGHT OUTER JOIN headquarters h ON d.hqID=h.hqID 
 		LEFT OUTER JOIN rank r ON e.rankID=r.rankID JOIN `position` p ON e.positionID = p.positionID WHERE e.employeeID=#{employeeID};

	</select>
	
	<select id="waitingList" resultType="approval">
		SELECT d.draftDate,e.employeeID,a.idx,w.title,e.name,a.approvalStatus,df.formCategory,d.titleID,df.formTitle,a.category, a.employeeID AS "id" FROM approval a LEFT OUTER JOIN draft d ON a.idx=d.idx JOIN draftForm df ON d.titleID=df.titleID JOIN employee e ON d.employeeID=e.employeeID 
		LEFT OUTER JOIN workDraft w ON a.idx=w.idx where a.employeeID=#{employeeID} AND a.approvalStatus='대기' ORDER BY d.draftDate DESC LIMIT #{pageNum},10
	</select>
	
	<select id="totalCount" parameterType="map" resultType="Integer">
		SELECT CEIL(COUNT(*)/10) FROM approval a LEFT OUTER JOIN draft d ON a.idx=d.idx JOIN draftForm df ON d.titleID=df.titleID JOIN employee e ON d.employeeID=e.employeeID 
		LEFT OUTER JOIN workDraft w ON a.idx=w.idx where a.employeeID=#{employeeID} AND a.approvalStatus='대기' ORDER BY d.draftDate
	</select>
	
	<select id="draftDetail" resultType="approval">
		SELECT DISTINCT e.employeeID,name,r.rankName, departmentName,h.hqName,df.draftDate,w.title,w.content,dff.formTitle,df.idx,df.titleID FROM employee e LEFT OUTER JOIN department d ON e.departmentID=d.departmentID RIGHT OUTER JOIN headquarters h ON d.hqID=h.hqID 
 		LEFT OUTER JOIN rank r ON e.rankID=r.rankID LEFT OUTER JOIN draft df ON e.employeeID=df.employeeID JOIN draftForm dff ON df.titleID=dff.titleID LEFT OUTER JOIN workDraft w ON df.idx=w.idx WHERE df.idx=#{idx}
	</select>
	
	<select id="vacDetail" resultType="approval">
		SELECT ad.idx,ad.category,ad.vacationStartDate,ad.vacationEndDate ,ad.usageTime ,ad.vacationReason,e.remainingAnnualLeave,d.employeeID from attendanceDraft ad JOIN draft d ON ad.idx=d.idx JOIN employee e ON d.employeeID=e.employeeID WHERE ad.idx=#{idx}
	</select>
	
	<select id="lvDetail" resultType="approval">
		SELECT * from leaveDraft WHERE idx=#{idx}
	</select>
	
	<select id="lineList" resultType="approval">
		select e.employeeID,e.name,d.departmentName,h.hqName,r.rankName,a.category,a.approvalOrder,a.opinion from approval a join employee e on a.employeeID = e.employeeID join department d on e.departmentID =d.departmentID join headquarters h on d.hqID=h.hqID join rank r on e.rankID=r.rankID where idx=#{idx} and category in("결재","합의") order by approvalOrder asc
	</select>
	
	<select id="signList" resultType="approval">
		select e.employeeID,e.name,d.departmentName,h.hqName,r.rankName,a.category,a.approvalOrder,a.approvalDate,a.approvalStatus,p.positionName from approval a join employee e on a.employeeID = e.employeeID join department d on e.departmentID =d.departmentID join headquarters h on d.hqID=h.hqID join rank r on e.rankID=r.rankID JOIN position p ON e.positionID=p.positionID where idx=#{idx} and category="결재";
	</select>
	
	<select id="agrRef" resultType="approval">
		select e.employeeID,e.name,d.departmentName,h.hqName,r.rankName,a.category from approval a join employee e on a.employeeID = e.employeeID join department d on e.departmentID =d.departmentID join headquarters h on d.hqID=h.hqID join rank r on e.rankID=r.rankID where idx=#{idx} and category in("합의","참조")
	</select>
	
	<select id="fileList" resultType="approval">
		SELECT * FROM file WHERE idx=#{idx}
	</select>
	
	<insert id="saveApprovalLine">
    	INSERT INTO draft (employeeID,documentNo) VALUES (#{employeeID},#{employeeID})
	</insert>
	
	<insert id="approvalWrite" parameterType="map">
	    INSERT INTO approval (idx, employeeID, category, approvalDate, approvalOrder, lastOrder, approvalStatus)
	    VALUES
	    <foreach collection="lastLineInfoList" item="line" separator=",">
	        (#{idx}, #{line.approvalEmp}, #{line.category}, '0000-00-00',
	        <choose>
	            <when test="line.order != null">#{line.order}</when>
	            <otherwise>'0'</otherwise>
	        </choose>, #{lastOrder}, 
	        <choose>
            <when test="line.order == 2"> '대기' </when>
            <otherwise>'미대기'</otherwise>
        </choose>)
	    </foreach>
	</insert>

	<insert id="publicApp">
		INSERT INTO approval (idx, category, approvalOrder, lastOrder, approvalStatus, employeeID)
	    SELECT #{idx},'열람',0,0,'열람',employeeID from employee WHERE status='재직'
	</insert>
	
	<insert id="lineEmptyTs">
	    INSERT INTO approval (idx, employeeID, category, approvalOrder, lastOrder, approvalStatus)
	    VALUES (#{idx}, #{employeeID}, '-', '0', #{lastOrder}, '미대기')
	</insert>
	
	<insert id="approvalTs">
	    INSERT INTO approval (idx, employeeID, category, approvalOrder, lastOrder, approvalStatus)
	    VALUES
	    <foreach collection="lastLineInfoList" item="line" separator=",">
	        (#{idx}, #{line.approvalEmp}, #{line.category},
	        <choose>
	            <when test="line.order != null">#{line.order}</when>
	            <otherwise>'0'</otherwise>
	        </choose>, #{lastOrder}, '미대기')
	    </foreach>
	</insert>
	
	<!-- <update id="updateTsApp">
		UPDATE approval SET lastOrder=#{lastOrder} WHERE idx=#{idx}
	</update> -->
	
	<update id="rejectDraft">
		UPDATE draft SET draftStatus='완료', publicStatus=0 WHERE idx=#{idx}
	</update>
	
	<update id="rejectApp">
		UPDATE approval SET approvalStatus='반려', opinion=#{opinionWrite} WHERE idx=#{idx} and employeeID=#{loginId}
	</update>
	
	<update id="approveDraft">
	            UPDATE draft SET draftStatus = '완료' WHERE idx = #{idx}
	</update>
	
	<update id="approveApp">
	    UPDATE approval SET approvalStatus = '결재', opinion=#{opinionWrite} WHERE idx = #{idx}
	</update>
	
	<update id="passApp">
		UPDATE approval SET approvalStatus='대기' WHERE approvalOrder=#{approvalOrder}+1
	</update>
	
	<update id="passDraft">
		UPDATE draft SET draftStatus='진행중' WHERE idx=#{idx}
	</update>
	
	<update id="myStatus">
		UPDATE approval SET approvalStatus='결재', opinion=#{opinionWrite} WHERE idx=#{idx} AND employeeID=#{loginId}
	</update>
	
	<update id="myAgree">
		UPDATE approval SET approvalStatus='합의', opinion=#{opinionWrite} WHERE idx=#{idx} AND employeeID=#{loginId}
	</update>
	
	
	<update id="rejectAgree">
		UPDATE approval SET approvalStatus='거부', opinion=#{opinionWrite} WHERE idx=#{idx} and employeeID=#{loginId}
	</update>
	
	<update id="updateDraft">
		UPDATE draft SET publicStatus=#{param1.publicStatus},draftDate=#{param2}, draftStatus=
            <choose>
	            <when test="param1.tempSave == 1">
	                '임시저장'
	            </when>
	            <otherwise>
	            	'대기'
	            </otherwise>
            </choose>
		WHERE idx=#{param1.idx}		
	</update>
	
	<update id="updateApproval">
		UPDATE approval SET  
			<foreach collection="lastLineInfoList" item="line" separator=",">
		        employeeID=#{line.approvalEmp}, category=#{line.category},
		        <choose>
		            <when test="line.order != null">approvalOrder=#{line.order}</when>
		            <otherwise>'0'</otherwise>
		        </choose>, lastOrder=#{param2.lastOrder}
	    	</foreach> WHERE idx=#{param2.idx}
	</update>
	
	<update id="updateLineEmpty">
	    UPDATE approval SET category='-', approvalOrder='0', lastOrder=#{lastOrder}, approvalStatus='미대기' WHERE idx=#{idx}
	</update>
	
	<select id="getOrder" resultType="approval">
		SELECT approvalOrder,employeeID FROM approval WHERE idx=#{idx} and employeeID=#{loginId}
	</select>
	
	<insert id="writeLeaveDraft" parameterType="approval">
        INSERT INTO leaveDraft(idx, leaveStartDate, leaveEndDate, leaveReason, category)
        VALUES(#{idx}, 
        <choose>
            <when test="startDate != 'undefined' and startDate != ''">
                #{startDate, jdbcType=DATE},
            </when>
            <otherwise>
                '0000-00-00',
            </otherwise>
        </choose>
        <choose>
            <when test="endDate != 'undefined' and endDate != ''">
                #{endDate, jdbcType=DATE},
            </when>
            <otherwise>
                '0000-00-00',
            </otherwise>
        </choose> #{textArea}, '휴직원')
	</insert>
	
	<update id="updateLeaveDraft">
        UPDATE leaveDraft SET 
        leaveStartDate=
        <choose>
            <when test="startDate != 'undefined' and startDate != ''">
                #{startDate, jdbcType=DATE},
            </when>
            <otherwise>
                '0000-00-00',
            </otherwise>
        </choose>
        leaveEndDate=
        <choose>
            <when test="endDate != 'undefined' and endDate != ''">
                #{endDate, jdbcType=DATE},
            </when>
            <otherwise>
                '0000-00-00',
            </otherwise>
        </choose> leaveReason=#{textArea} WHERE idx=#{idx}
	</update>
	
	<insert id="writeReincrement" parameterType="approval">
        INSERT INTO leaveDraft(idx, leaveStartDate, leaveEndDate, leaveReason, category)
        VALUES(#{idx}, 
        <choose>
            <when test="startDate != 'undefined' and startDate != ''">
                #{startDate, jdbcType=DATE},
            </when>
            <otherwise>
                '0000-00-00',
            </otherwise>
        </choose>
        <choose>
            <when test="endDate != 'undefined' and endDate != ''">
                #{endDate, jdbcType=DATE},
            </when>
            <otherwise>
                '0000-00-00',
            </otherwise>
        </choose> #{textArea}, '복직원')
	</insert>
	
	<update id="updateReincrement">
        UPDATE leaveDraft SET leaveStartDate= 
        <choose>
            <when test="startDate != 'undefined' and startDate != ''">
                #{startDate, jdbcType=DATE},
            </when>
            <otherwise>
                '0000-00-00',
            </otherwise>
        </choose>
         leaveEndDate=
        <choose>
            <when test="endDate != 'undefined' and endDate != ''">
                #{endDate, jdbcType=DATE},
            </when>
            <otherwise>
                '0000-00-00',
            </otherwise>
        </choose> leaveReason=#{textArea} WHERE idx=#{idx}
	</update>
	
	<insert id="writeattendenceDraft" parameterType="approval">
    INSERT INTO attendanceDraft(idx, category, vacationStartDate, vacationEndDate, usageTime, vacationReason)
    VALUES(
        #{idx}, 
        #{vacationCategory}, 
        <choose>
            <when test="startDate != null and startDate != ''">
                #{startDate, jdbcType=DATE},
            </when>
            <otherwise>
                '0000-00-00',
            </otherwise>
        </choose>
        <choose>
            <when test="endDate != null and endDate != ''">
                #{endDate, jdbcType=DATE},
            </when>
            <otherwise>
                '0000-00-00',
            </otherwise>
        </choose>
        #{usageTime}, 
        #{textArea}
    )
</insert>

<update id="updateAttendenceDraft">
    UPDATE attendanceDraft SET category=
      <choose>
        <when test="vacationCategory == 'undefined'">
            '오후반차'
        </when>
        <otherwise>
            #{vacationCategory}
        </otherwise>
    </choose>
    ,vacationStartDate=
    <choose>
        <when test="startDate != null and startDate != ''">
            #{startDate, jdbcType=DATE}
        </when>
        <otherwise>
            '0000-00-00'
        </otherwise>
    </choose>
    , vacationEndDate=
     <choose>
         <when test="endDate != null and endDate != ''">
             #{endDate, jdbcType=DATE}
         </when>
         <otherwise>
             '0000-00-00'
         </otherwise>
     </choose>
     , usageTime=
     <choose>
         <when test="total !=''">
             #{total}
         </when>
         <otherwise>
             '0'
         </otherwise>
     </choose>
 	, vacationReason=#{textArea} WHERE idx=#{idx}
</update>

	<select id="saveList" resultType="approval">
		SELECT d.idx,d.draftDate,d.draftStatus,df.formCategory,df.formTitle,wd.title,wd.content,df.titleID FROM draft d JOIN draftForm df ON d.titleID=df.titleID LEFT OUTER JOIN attendanceDraft ad ON d.idx=ad.idx LEFT OUTER JOIN leaveDraft ld ON d.idx=ld.idx LEFT OUTER JOIN workDraft wd ON d.idx=wd.idx where employeeID=#{employeeID} and draftStatus='임시저장' ORDER BY d.draftDate DESC LIMIT #{pageNum},10
	</select>
	
	<select id="sCount" parameterType="map" resultType="Integer">
		SELECT CEIL(COUNT(*)/10) FROM draft WHERE employeeID=#{employeeID} and draftStatus='임시저장' ORDER BY draftDate DESC
	</select>
	
	<delete id="removeSave">
		DELETE FROM attendanceDraft WHERE idx=#{selected};
		DELETE FROM leaveDraft WHERE idx=#{selected};
		DELETE FROM workDraft WHERE idx=#{selected};
		DELETE FROM approval WHERE idx=#{selected};
		DELETE FROM draft WHERE idx=#{selected};
	</delete>
	
	<select id="myList" resultType="approval">
		SELECT d.idx,d.draftDate,d.draftStatus,df.formCategory,df.formTitle,wd.title,wd.content FROM draft d JOIN draftForm df ON d.titleID=df.titleID LEFT OUTER JOIN attendanceDraft ad ON d.idx=ad.idx LEFT OUTER JOIN leaveDraft ld ON d.idx=ld.idx LEFT OUTER JOIN workDraft wd ON d.idx=wd.idx where employeeID=#{employeeID} and draftStatus!='임시저장' ORDER BY d.draftDate desc LIMIT #{pageNum},10
	</select>
	
	<select id="mDcount" parameterType="map" resultType="Integer">
		SELECT CEIL(COUNT(*)/10) FROM draft WHERE employeeID=#{employeeID} AND draftStatus!='임시저장' ORDER BY draftDate DESC
	</select>
	
	<select id="mySearch" resultType="approval">
		SELECT d.idx,d.draftDate,d.draftStatus,df.formCategory,df.formTitle,wd.title,wd.content FROM draft d JOIN draftForm df ON d.titleID=df.titleID LEFT OUTER JOIN attendanceDraft ad ON d.idx=ad.idx LEFT OUTER JOIN leaveDraft ld ON d.idx=ld.idx LEFT OUTER JOIN workDraft wd ON d.idx=wd.idx where employeeID=#{employeeID} and draftStatus!='임시저장' AND title LIKE CONCAT('%',#{keyword},'%') ORDER BY d.draftDate desc
	</select>
	
	<select id="refList" resultType="approval">
		SELECT d.draftDate,e.employeeID,a.idx,w.title,e.name,d.draftStatus,df.formCategory,a.category,d.titleID,df.formTitle FROM approval a LEFT OUTER JOIN draft d ON a.idx=d.idx JOIN draftForm df ON d.titleID=df.titleID JOIN employee e ON d.employeeID=e.employeeID 
		LEFT OUTER JOIN workDraft w ON a.idx=w.idx where a.employeeID=#{employeeID} AND a.category in('참조','열람') AND d.draftStatus!='임시저장' ORDER BY d.draftDate desc LIMIT #{pageNum},10
	</select>
	
	<select id="RCount" parameterType="map" resultType="Integer">
		SELECT CEIL(COUNT(*)/10) FROM approval a LEFT OUTER JOIN draft d ON a.idx=d.idx WHERE a.employeeID=#{employeeID} AND a.category in('참조','열람') AND d.draftStatus!='임시저장'
	</select>
	
	<select id="refSearch" resultType="approval">
		SELECT d.draftDate,e.employeeID,a.idx,w.title,e.name,d.draftStatus,df.formCategory,a.category,d.titleID,df.formTitle FROM approval a LEFT OUTER JOIN draft d ON a.idx=d.idx JOIN draftForm df ON d.titleID=df.titleID JOIN employee e ON d.employeeID=e.employeeID 
		LEFT OUTER JOIN workDraft w ON a.idx=w.idx where a.employeeID=#{employeeID} AND a.category in('참조','열람') AND d.draftStatus!='임시저장' AND title LIKE CONCAT('%',#{keyword},'%')ORDER BY d.draftDate desc
	</select>
	
	<select id="comList" resultType="approval">
		SELECT a.approvalDate, a.approvalStatus, e.employeeID, a.idx,w.title,e.name,d.draftStatus,df.formCategory,a.category,d.titleID,df.formTitle,d.draftDate FROM approval a LEFT OUTER JOIN draft d ON a.idx=d.idx JOIN draftForm df ON d.titleID=df.titleID JOIN employee e ON d.employeeID=e.employeeID 
		LEFT OUTER JOIN workDraft w ON a.idx=w.idx WHERE a.employeeID=#{employeeID} AND NOT a.approvalStatus IN('미대기','대기') LIMIT #{pageNum},10
	</select>
	
	<select id="MaCount" parameterType="map" resultType="Integer">
		SELECT CEIL(COUNT(*)/10) FROM approval WHERE employeeID=#{employeeID} AND NOT approvalStatus IN('미대기','대기')
	</select>
	
	<select id="myAppSearch" resultType="approval">
		SELECT a.approvalDate, a.approvalStatus, e.employeeID, a.idx,w.title,e.name,d.draftStatus,df.formCategory,a.category,d.titleID,df.formTitle,d.draftDate FROM approval a LEFT OUTER JOIN draft d ON a.idx=d.idx JOIN draftForm df ON d.titleID=df.titleID JOIN employee e ON d.employeeID=e.employeeID 
		LEFT OUTER JOIN workDraft w ON a.idx=w.idx WHERE a.employeeID=#{employeeID} AND (title LIKE CONCAT('%',#{keyword},'%') OR name LIKE CONCAT('%',#{keyword},'%') OR formTitle LIKE CONCAT('%',#{keyword},'%'))
	</select>
	
	<select id="departmentList" resultType="approval">
		select d.idx,d.employeeID,a.approvalDate,d.publicStatus,d.draftStatus,d.titleID,e.name,dp.departmentName,df.formCategory,df.formTitle,wd.title,wd.content from draft d JOIN draftForm df ON d.titleID=df.titleID LEFT OUTER JOIN approval a ON d.idx=a.idx LEFT OUTER JOIN attendanceDraft ad ON d.idx=ad.idx LEFT OUTER JOIN leaveDraft ld ON d.idx=ld.idx LEFT OUTER JOIN workDraft wd ON d.idx=wd.idx JOIN employee e ON d.employeeID=e.employeeID JOIN department dp ON e.departmentID=dp.departmentID WHERE departmentName=(select dt.departmentName from department dt JOIN employee e ON dt.departmentID = e.departmentID WHERE employeeID=#{employeeID}) AND d.draftStatus='완료' GROUP BY d.idx ORDER BY a.approvalDate DESC LIMIT #{pageNum},10
	</select>
	
	<select id="dpCount" parameterType="map" resultType="Integer">
		SELECT CEIL(COUNT(*)/10) FROM draft d LEFT OUTER JOIN approval a ON d.idx=a.idx LEFT OUTER JOIN attendanceDraft ad ON d.idx=ad.idx JOIN employee e ON d.employeeID=e.employeeID JOIN department dp ON e.departmentID=dp.departmentID WHERE departmentName =(select dt.departmentName from department dt JOIN employee e ON dt.departmentID = e.departmentID WHERE employeeID=#{employeeID}) AND d.draftStatus='완료'ORDER BY a.approvalDate DESC
	</select>
	
	<select id="dpSearch" resultType="approval">
		select d.idx,d.employeeID,a.approvalDate,d.publicStatus,d.draftStatus,d.titleID,e.name,dp.departmentName,df.formCategory,df.formTitle,wd.title,wd.content from draft d JOIN draftForm df ON d.titleID=df.titleID LEFT OUTER JOIN approval a ON d.idx=a.idx LEFT OUTER JOIN attendanceDraft ad ON d.idx=ad.idx LEFT OUTER JOIN leaveDraft ld ON d.idx=ld.idx LEFT OUTER JOIN workDraft wd ON d.idx=wd.idx JOIN employee e ON d.employeeID=e.employeeID JOIN department dp ON e.departmentID=dp.departmentID WHERE departmentName=(select dt.departmentName from department dt JOIN employee e ON dt.departmentID = e.departmentID WHERE employeeID=#{employeeID}) AND d.draftStatus='완료' AND (title LIKE CONCAT('%',#{keyword},'%') OR name LIKE CONCAT('%',#{keyword},'%') OR formTitle LIKE CONCAT('%',#{keyword},'%')) GROUP BY idx ORDER BY a.approvalDate desc
	</select>
	
	<select id="getSign" resultType="approval">
		SELECT serverFileName from file WHERE idx=#{employeeID} and path="signature"
	</select>
	
	<select id="getForm" resultType="approval">
	SELECT df.formTitle FROM draft d JOIN draftForm df ON d.titleID=df.titleID WHERE idx=#{idx};
	</select>
	
	<update id="updateRAL">
		UPDATE employee SET remainingAnnualLeave=#{updateRAL} WHERE employeeID=(SELECT employeeID FROM draft d WHERE idx=#{param2.idx})
	</update>
	
	<select id="cfFile" resultType="int">
		SELECT idx FROM file WHERE idx=#{param}
	</select>

	<select id="waitingSearch" resultType="approval">
		SELECT d.draftDate,e.employeeID,a.idx,w.title,e.name,a.approvalStatus,df.formCategory,d.titleID,df.formTitle,a.category, a.employeeID AS "id" FROM approval a LEFT OUTER JOIN draft d ON a.idx=d.idx JOIN draftForm df ON d.titleID=df.titleID JOIN employee e ON d.employeeID=e.employeeID 
		LEFT OUTER JOIN workDraft w ON a.idx=w.idx where a.employeeID=#{employeeID} AND a.approvalStatus='대기' AND (title LIKE CONCAT('%',#{keyword},'%') OR name LIKE CONCAT('%',#{keyword},'%') OR formTitle LIKE CONCAT('%',#{keyword},'%')) ORDER BY d.draftDate desc
	</select>
	
	<select id="formSearch" resultType="form">
		SELECT * FROM draftForm WHERE formTitle LIKE CONCAT('%',#{keyword},'%')
	</select>

	<!-- <update id="update">
		UPDATE draft SET draftDate=#{draftDate}, publicStatus=#{publicStatus} WHERE idx=#{idx}
	</update>
	
	<update id="lineEmptyTs">
	    UPDATE approval SET employeeID=#{employeeID}, category='-', approvalOrder='0', lastOrder=#{lastOrder} WHERE idx=#{idx}
	</update>

	<update id="approvalTs">
		UPDATE approval SET
    <foreach collection="lastLineInfoList" item="line" separator=",">
        employeeID = #{line.approvalEmp},
        category = #{line.category},
        approvalOrder =
        <choose>
            <when test="line.order != null">#{line.order}</when>
            <otherwise>'0'</otherwise>
        </choose>,
        lastOrder = #{lastOrder}
    </foreach> WHERE idx = #{idx}
	</update> -->
	
	<!-- 
	<update id="updateWd">
	    UPDATE workDraft SET title=#{title}, content=#{content} WHERE idx=#{idx}
	</update>
	
	<update id="updateLd">
	    UPDATE leaveDraft SET leaveStartDate=#{startDate, jdbcType=DATE}, leaveEndDate=#{endDate, jdbcType=DATE}, leaveReason=#{textArea} WHERE idx=#{idx}
	</update>
	
	<update id="updateRd">
        UPDATE leaveDraft SET leaveStartDate=#{startDate, jdbcType=DATE}, leaveEndDate=#{endDate, jdbcType=DATE}, leaveReason=#{textArea} WHERE idx=#{idx}
	</update>
	
	<update id="updateAd">
	    UPDATE attendanceDraft SET vacationStartDate=#{startDate, jdbcType=DATE}, vacationEndDate=#{endDate, jdbcType=DATE}, vacationReason=#{textArea} WHERE idx=#{idx}
	</update> -->
</mapper>