<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="kr.co.cocean.mypage.dao.LoginDAO">

<select id="login" resultType="kr.co.cocean.mypage.dto.LoginDTO"> 

SELECT e.employeeID ,e.positionID ,e.name,e.status ,e.joinDate ,e.phoneNumber ,e.address ,e.remainingAnnualLeave ,e.departmentID ,e.rankID,d.responsibility,h.branchID  
FROM department d JOIN headquarters h 
ON d.hqID = h.hqID JOIN employee e 
ON e.departmentID = d.departmentID
where e.employeeID= #{param1} and e.password = #{param2}


</select>



</mapper>