<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="kr.co.cocean.main.dao.MainDAO">	


	<select id="getNoticeList" resultType="board">
		SELECT *
		FROM(
			(SELECT b.boardID, b.employeeID, b.title, isPinned
				,DATE_FORMAT(b.creationDate, '%Y-%m-%d %H:%i') AS creationDate
				,IFNULL(e.name, '익명') AS name
				FROM board b
				LEFT JOIN  employee e ON e.employeeID = b.employeeID
				WHERE isHidden = 0 AND isPinned = 1 AND category = 'notice')
			UNION ALL
			(SELECT b.boardID, b.employeeID, b.title, isPinned
				,DATE_FORMAT(b.creationDate, '%Y-%m-%d %H:%i') AS creationDate
				,IFNULL(e.name, '익명') AS name
				FROM board b
				LEFT JOIN  employee e ON e.employeeID = b.employeeID
				WHERE b.isHidden = 0 AND b.isPinned = 0 AND b.category = 'notice')
		) AS boardLIst
		ORDER BY isPinned DESC, boardID DESC
		LIMIT 10
	</select>
	
	<select id="homeWaitingList" resultType="approval">
		SELECT d.draftDate,e.employeeID,a.idx,w.title,e.name,a.approvalStatus,df.formCategory,d.titleID,df.formTitle,a.category, a.employeeID AS "id" FROM approval a LEFT OUTER JOIN draft d ON a.idx=d.idx JOIN draftForm df ON d.titleID=df.titleID JOIN employee e ON d.employeeID=e.employeeID 
		LEFT OUTER JOIN workDraft w ON a.idx=w.idx where a.employeeID=#{employeeID} AND a.approvalStatus='대기' ORDER BY d.draftDate DESC LIMIT 10
	</select>
	
</mapper>













