<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="kr.co.cocean.mypage.dao.LoginDAO">

<select id="myinfo" resultType="mypage"> 
   	SELECT e.name,e.phoneNumber,e.employeeID , d.departmentName, p.positionName,r.rankName  FROM employee e ,department d , `position` p, `rank` r 
WHERE e.employeeID = #{param1} AND  e.departmentID = d.departmentID AND e.positionID = p.positionID And
e.rankID = r.rankID ;


</select>

<!-- 수정 -->
	<select id="attendanceDraft" resultType="map">
		SELECT
		COUNT(CASE WHEN reviewNo = 1 then reviewNo end) as high
		,COUNT(CASE WHEN reviewNo = 2 then reviewNo end) as 'mid'
		,COUNT(CASE WHEN reviewNo = 3 then reviewNo end) as low
		FROM userReview WHERE
		userId = #{param1}
	</select>


</mapper>