<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="kr.co.cocean.personnel.dao.PersonnelDAO">	
	

	
	<insert id="join" parameterType="map">
		INSERT INTO employee VALUES(#{employeeID},#{positionID},#{password},#{name},#{status},#{joinDate},#{phoneNumber},#{address},#{remainingAnnualLeave},#{departmentID},#{rankID},#{responID})
	</insert>
	 <select id="getBranch">
        SELECT branchName , branchID FROM branch
    </select>
	

	<select id="getBranchID">
		SELECT hqName,hqID FROM headquarters h WHERE branchID =#{branchID}
	</select>
	
	<select id="getBranchOrgID">
		SELECT hqName ,hqID FROM headquarters h WHERE branchID =#{branchID} and isActive = 1 AND h.hqName NOT LIKE '-%'
	</select>
	
	<select id="getHqID">
		select  departmentName ,departmentID FROM department d WHERE hqID=#{hqID}
	</select>
	
	<select id="getDepartmentText">
		SELECT responName,responID from responsibility r JOIN department d ON r.departmentID =d.departmentID where d.departmentName =#{departmentText}
	</select>
	
	<select id="getChart">
				    SELECT * FROM (
		    SELECT employeeID AS id, 
		           CASE 
		               WHEN e.positionID = 5 THEN '#' 
		               WHEN e.positionID = 4 THEN CONCAT('br', h.branchID)
		               ELSE CONCAT('de', e.departmentID)
		           END AS parent, 
		           CONCAT(name, ' ', (SELECT p.positionName FROM `position` p WHERE p.positionID = e.positionID)) AS 'text', 
		           'fas fa-user-tie' AS 'icon'
		    FROM employee e 
		    LEFT JOIN department d ON e.departmentID = d.departmentID
		    LEFT JOIN headquarters h ON d.hqID = h.hqID
		    WHERE e.status = '재직'
		) AS data
		UNION ALL
		SELECT CONCAT('de',departmentID) AS id, 
		       CONCAT('hq',hqID) AS parent, 
		       departmentName AS 'text', 
		       'fas fa-building' AS 'icon'
		FROM department d 
		WHERE d.isActive = 1 AND d.departmentName NOT LIKE '-%'
		UNION ALL
		SELECT CONCAT('hq',hqID) AS id, 
		       CONCAT('br',branchID) AS parent, 
		       hqName AS 'text', 
		       'fas fa-building' AS 'icon'
		FROM headquarters h 
		WHERE h.isActive = 1 AND h.hqName NOT LIKE '%-%'
		UNION ALL
		SELECT CONCAT('br',branchID) AS id, 
		       '#' AS parent, 
		       branchName AS 'text', 
		       'fas fa-building' AS 'icon'
		FROM branch b;
			</select>
	

	
	<select id="personnelList">
		SELECT e.employeeID,e.name,d.departmentName, r.rankName,p.positionName,e.status ,b.branchName
		FROM employee e
		JOIN department d ON e.departmentID = d.departmentID
		JOIN headquarters h ON d.hqID =h.hqID 
		JOIN branch b  ON h.branchID = b.branchID 
		JOIN `position` p ON e.positionID = p.positionID 
		JOIN `rank` r  ON e.rankID = r.rankID
		ORDER BY e.employeeID ASC
	</select>
	
	<select id="getSelectOptionBranch">
		SELECT e.employeeID,e.name,d.departmentName, r.rankName,p.positionName,e.status ,b.branchName
		FROM employee e
		JOIN department d ON e.departmentID = d.departmentID
		JOIN headquarters h ON d.hqID =h.hqID 
		JOIN branch b  ON h.branchID = b.branchID 
		JOIN `position` p ON e.positionID = p.positionID 
		JOIN `rank` r  ON e.rankID = r.rankID
		<if test="selectedBranchValue !='지점'">
		where b.branchName =#{selectedBranchValue}
		</if>
		ORDER BY e.employeeID ASC ;
	</select>
	
	<select id="searchPerson">
		SELECT e.employeeID,e.name,d.departmentName, r.rankName,p.positionName,e.status ,b.branchName
		FROM employee e
		JOIN department d ON e.departmentID = d.departmentID
		JOIN headquarters h ON d.hqID =h.hqID 
		JOIN branch b  ON h.branchID = b.branchID 
		JOIN `position` p ON e.positionID = p.positionID 
		JOIN `rank` r  ON e.rankID = r.rankID
		<if test="selectedOption == '이름'">
			WHERE e.name LIKE #{searchValue}
		</if>
		 <if test="selectedOption == '사번'">
        	WHERE e.employeeID = #{searchValue}
		 </if>
		ORDER BY e.employeeID ASC ;
	</select>
	
	<select id="checkDuplicateEmployeeID">
		select (COUNT(employeeID))  from employee e WHERE employeeID =#{employeeID}
	</select>
	
	<select id="checkDuplicateAddpositionID">
		select (COUNT(positionID))  from position WHERE positionID =#{addpositionID}
	</select>
	
	<select id="checkDuplicateAddRankID">
		select (COUNT(rankID))  from rank WHERE rankID =#{addRankID}
	</select>
	
	<insert id="upload">
		INSERT INTO file(category, idx, path, serverFileName, oriFileName)
			values(#{category},#{idx},#{path},#{serverFileName},#{oriFileName})
	</insert>
	
	<update id="update">
		    UPDATE file
	    SET serverFileName = #{serverFileName}
	    WHERE idx = #{idx} AND category = #{category} AND path = #{path}
	</update>
	
	<update id="updateEmployeeInfo">
		UPDATE employee SET positionID = #{positionID}
		,status=#{status}
		,departmentID=#{departmentID}
		,rankID=#{rankID}
		,responID=#{responID}
		WHERE employeeID =#{employeeID}
	</update>
	
	<select id="datail">
				SELECT 
		    e.employeeID, e.name, p.positionName,p.positionID, r.rankName,r.rankID, e.address, e.phoneNumber, b.branchName,b.branchID, d.departmentName,d.departmentID, h.hqName,h.hqID,res.responID, res.responName,
		    f_profile.serverFileName AS profileImage, f_signature.serverFileName AS signatureImage,e.joinDate,e.status,e.remainingAnnualLeave
		FROM employee e
		JOIN department d ON e.departmentID = d.departmentID
		JOIN headquarters h ON d.hqID = h.hqID 
		JOIN branch b ON h.branchID = b.branchID 
		JOIN responsibility res ON e.responID = res.responID
		JOIN `position` p ON e.positionID = p.positionID 
		JOIN `rank` r ON e.rankID = r.rankID
		LEFT JOIN file f_profile ON f_profile.idx = e.employeeID AND f_profile.path = 'profile'
		LEFT JOIN file f_signature ON f_signature.idx = e.employeeID AND f_signature.path = 'signature'
		WHERE e.employeeID = #{employeeID};
		
	</select>
	
	<select id="employeeHistory">
		SELECT startDate ,endDate ,organizationName ,remarks  FROM employeeHistory WHERE category ='학력' AND employeeID =#{employeeID}
	</select>

	<select id="workHistory">
		SELECT startDate ,endDate ,organizationName ,remarks  FROM employeeHistory WHERE category ='이력' AND employeeID =#{employeeID}
	</select>
	
	<select id="getPositionName">
		SELECT positionID ,positionName,isActive  from `position` p
	</select>
	
	<select id="getPositionNameActive">
		SELECT positionID ,positionName,isActive  from `position` p where isActive = 1
	</select>
	
	<select id="getRankName">
		SELECT rankID,rankName,isActive from rank
	</select>
	
	<select id="getRankNameActive">
		SELECT rankID,rankName,isActive from rank WHERE isActive = 1
	</select>
	
	<select id="departmentChangeLog">
	SELECT DATE_FORMAT(dcl.changeDate, '%Y-%m-%d') AS changeDate,
	       beforeD.departmentName AS beforedpID,
	       afterD.departmentName AS afterdpID
	FROM departmentChangeLog dcl
	JOIN department beforeD ON beforeD.departmentID = dcl.beforedpID
	JOIN department afterD ON afterD.departmentID = dcl.afterdpID
	WHERE dcl.employeeID = #{employeeID};
	</select>
	
	<insert id="historySave">
		INSERT INTO employeeHistory (employeeID,startDate,endDate,organizationName,remarks,category) VALUES (#{employeeID},#{startDate},#{endDate},#{organizationName},#{remarks},#{category});
	</insert>
	
	<insert id="schistorySave">
		INSERT INTO employeeHistory (employeeID,startDate,endDate,organizationName,remarks,category) VALUES (#{employeeID},#{startDate},#{endDate},#{organizationName},#{remarks},#{sccategory});
	</insert>
	
	<insert id="writeDepartmentChangeLog">
		insert into departmentChangeLog (employeeID,beforedpID,afterdpID) values(#{employeeID},#{beforedpID},#{afterdpID});
	</insert>
	
	<update id="resetPassword">
		UPDATE employee SET password = #{password} WHERE employeeID = #{employeeID}
	</update>
	
	<select id="getdepartmentInfo">
		select d.departmentID,d.departmentName,d.isActive,h.hqName from department d JOIN headquarters h ON d.hqID =h.hqID where departmentID = #{departmentID}
		
	</select>
	
	<select id="gethqInfo">
		SELECT h.hqID ,h.hqName ,h.isActive ,b.branchName from headquarters h JOIN branch b ON h.branchID =b.branchID  where hqID =#{hqID}
	</select>
	
	<select id="updateRank" resultType="Integer">
		UPDATE rank
		SET rankName = #{rankName}, isActive = #{isActive}
		WHERE rankID = #{rankID}
	</select>
	
	<select id="updatePosition">
		UPDATE position
		SET positionName = #{positionName}, isActive = #{isActive}
		WHERE positionID = #{positionID}
	</select>
	
	<insert id="addPostion">
		INSERT INTO `position` (positionID,positionName,isActive) values (#{positionID},#{positionName},#{isActive});
	</insert>
	
	<insert id="addRank">
		INSERT INTO `rank` (rankID,rankName,isActive) values (#{rankID},#{rankName},#{isActive});
	</insert>
	
	<insert id="addDepartment" useGeneratedKeys="true" keyColumn="departmentID" keyProperty="departmentID" parameterType="department">
    INSERT INTO department (departmentName, isActive, hqID)
    VALUES (#{departmentName, jdbcType=VARCHAR}, #{isActive}, #{hqID})
	</insert>
	
	<insert id="addhq">
		INSERT into headquarters  (hqName,branchID,isActive) VALUES (#{hqName},#{branchID},#{isActive});
	</insert>
	
	<update id="updateInfo">
		update employee set name = #{name},
		phoneNumber = #{phoneNumber},
		address = #{address}
		WHERE employeeID = #{employeeID}
	</update>
	
	<update id="editHq">
		update headquarters SET hqName = #{hqName} ,isActive =#{isActive} WHERE hqID =#{hqID}
	</update>
	<update id="editDp">
		update department SET departmentName = #{departmentName} ,isActive =#{isActive} WHERE departmentID =#{departmentID}
	</update>
	
	<select id="getDepartmentMembers">
		SELECT count(employeeID) FROM employee e JOIN department d ON e.departmentID = d.departmentID WHERE d.departmentID =#{departmentID};
	</select>
	
	<insert id="addResponsibiliy">
		INSERT INTO responsibility (responName,departmentID) VALUES (#{responName},#{departmentID})
	</insert>
</mapper>