<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="kr.co.cocean.personnel.dao.PersonnelDAO">	
	

	
	<insert id="join" parameterType="map">
		INSERT INTO employee VALUES(#{employeeID},#{positionID},#{password},#{name},#{status},#{joinDate},#{phoneNumber},#{address},#{remainingAnnualLeave},#{departmentID},#{rankID},#{responsibility})
	</insert>
	 <select id="getBranch">
        SELECT branchName FROM branch
    </select>
	

	<select id="getBranchID">
		SELECT hqName FROM headquarters h WHERE branchID =#{branchID}
	</select>
	
	<select id="getHqID">
		select DISTINCT departmentName FROM department d WHERE hqID=#{hqID}
	</select>
	
	<select id="getDepartmentText">
		SELECT responsibility es FROM department d WHERE departmentName = #{departmentText}
	</select>
	
	<select id="getChart" resultType="tree">
		SELECT * FROM jsTree ORDER BY CASE WHEN text LIKE '%장' THEN 0 ELSE 1 END, text;
	</select>
	
	<insert id="joinTree">
    INSERT INTO jsTree VALUES
    (#{employeeID}, #{departmentID}, CONCAT(#{name}, ' ', #{positionID}), 'jstree-icon-worker')
	</insert>



</mapper>