<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="kr.co.cocean.schedule.dao.ScheduleDAO">	
	
	

	
	<insert id="scheduleWrite" useGeneratedKeys="true" keyColumn="scheduleID"
		keyProperty="scheduleID" parameterType="schedule">
		INSERT INTO schedule VALUES(NULL,#{employeeID},#{title},#{start},#{end},#{subCategory},#{description},#{remarks},#{publicCategory},#{backgroundColor});
	</insert>
	
	<select id="getCallenderEvents">
		SELECT title,start,end,backgroundColor FROM schedule s WHERE employeeID = #{employeeID}
	</select>
	
	<select id="getFacility">
		SELECT  facilityName FROM facility f  WHERE category=#{text} AND isUse=0;
	</select>
	
	<insert id="facilityWrite" useGeneratedKeys="true" keyColumn="scheduleID"
		keyProperty="scheduleID" parameterType="schedule">
		INSERT INTO schedule values(NULL,#{employeeID},#{title},#{start},#{end},'예약',#{description},'-','1');
	</insert>
	
	<update id="updateFacility">
		update facility SET isUSE='1' WHERE facilityName = #{facilityName}
	</update>
</mapper>