<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="kr.co.cocean.schedule.dao.ScheduleDAO">	
	
	

	
	<insert id="scheduleWrite" parameterType="schedule">
		INSERT INTO schedule(employeeID,title,start,end,subCategory,description,remarks,publicCategory,backgroundColor) 
		VALUES(#{employeeID},#{title},#{start},#{end},#{subCategory},#{description},#{remarks},#{publicCategory},#{backgroundColor});
	</insert>
	
	<select id="getCallenderEvents">
		SELECT scheduleID AS id,title,start,end,backgroundColor,subCategory,employeeID,description,remarks
		FROM schedule s
		WHERE employeeID = #{employeeID} AND s.subCategory='개인';
	</select>
	
	<select id="addInterestCallender">
		SELECT calendarID,calendarName ,addemployeeID from calendar where employeeID = #{loginEmployeeID} ;
	</select>
	
	<select id="getFacilityEvents">
		SELECT scheduleID AS id,title,start,end,backgroundColor,subCategory,description,remarks,employeeID
		FROM schedule s 
		WHERE subCategory ='예약';
	</select>
	
	<select id="getFacility">
		SELECT  facilityName FROM facility f  WHERE category=#{text} AND isUse=0;
	</select>
	
	<insert id="facilityWrite" parameterType="schedule">
    INSERT INTO schedule (employeeID, title, start, end, subCategory, description, remarks, publicCategory, backgroundColor) 
    VALUES (#{employeeID}, #{title}, #{start}, #{end}, '예약', #{description}, '-', '1', #{backgroundColor});
</insert>
	
<!-- 	<update id="updateFacility"> -->
<!-- 		update facility SET isUSE='1' WHERE facilityName = #{facilityName} -->
<!-- 	</update> -->
	
	<insert id="addCalender" parameterType="String">
		INSERT INTO calendar(employeeID, calendarName, addemployeeID)
		VALUES (#{loginEmployeeID}, CONCAT('일정(', #{nodeName}, ')'), #{employeeID});
	</insert>
	
	<select id="getAddCalList">
	SELECT title,start,end,subCategory,employeeID,scheduleID,description ,remarks  AS id FROM schedule s WHERE employeeID = #{val} AND subCategory='개인' AND publicCategory =1
	</select>
	
	<select id="getDetailWriteName">
		SELECT e.name FROM schedule s JOIN employee e ON s.employeeID  =e.employeeID  where scheduleID = #{id}
	</select>
	
	<delete id="delMyCal">
		DELETE  from schedule where scheduleID = #{id}
	</delete>
	
	<delete id="interestDelCalendar">
		DELETE from calendar WHERE calendarID =#{calendarID};
	</delete>
	
	<update id="updateCal">
		UPDATE schedule 
		SET title = #{title}, 
		    start = #{start}, 
		    end = #{end},
		    description =#{content},
		    remarks =#{remarks}
		WHERE scheduleID =#{id};
	</update>
	
		
	<select id="scheduleAlarm" resultType="map">
	
		SELECT s.employeeID ,s.subCategory 
		FROM schedule s  
		WHERE s.start BETWEEN NOW() AND DATE_ADD(NOW(), INTERVAL 30 MINUTE)
	</select>
	
	<insert id="addalarm">
		INSERT INTO notificationHistory (employeeID,url,content) VALUES
		<foreach collection="result" item="item" separator=",">
			(#{item.employeeID},#{item.url},#{item.content})
		</foreach>

	</insert>
	<!-- <select id="showInterestCalendar">
		SELECT calendarName from calendar where employeeID = #{loginEmployeeID};
	</select> -->
</mapper>