<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="kr.co.cocean.statistics.dao.StatisticsDAO">
	<select id="animalHistory" resultType="animal">
		SELECT animalID, branchID, classificationCode, entryDate, status FROM animalManagement
	</select>	
	
	<select id="tankHistory" resultType="tank">
		SELECT tc.categoryID, tc.tankType, tm.tankID, tm.branchID, tm.registrationDate, tm.tankStatus
		FROM tankManagement tm
		INNER JOIN tankCategory tc ON tm.categoryID = tc.categoryID
	</select>

	<select id="productHistory" resultType="product">
	
	</select>

	<select id="ticketHistroy" resultType="ticket">
	
	</select>
	
	<select id="visitorsHistory" resultType="visitors">
	
	</select>

</mapper>