<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="kr.co.cocean.store.dao.StoreDAO">	
	
	<select id="branchList" resultType="store">
		SELECT * FROM branch
	</select>
	
	<select id="productList" resultType="product">
		SELECT * FROM product
	</select>
	
	<select id="searchProduct" resultType="product">
		SELECT * FROM product WHERE productName = #{param1} AND branch = #{param2} 
	</select>
	
</mapper>