<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="kr.co.cocean.store.dao.StoreDAO">	
	
	<select id="branchList" resultType="branch">
		SELECT * FROM branch
	</select>
	
	<select id="branchProductList" resultType="branchProduct">
		SELECT bp.productIndex, bp.branchID, bp.productID, pi.productName, pi.category, 
    		pi.price, b.branchName, b.branchLocation, b.branchLatitude, b.branchLongitude
		FROM 
		    branchProduct bp
		INNER JOIN 
		    productInformation pi ON bp.productID = pi.productID
		INNER JOIN 
		    branch b ON bp.branchID = b.branchID
	</select>
	
	<select id="searchProduct" resultType="branchProduct">
	SELECT pi.productID, pi.productName, pi.price
FROM productInformation pi
JOIN branchProduct bp ON pi.productID = bp.productID
JOIN branch b ON bp.branchID = b.branchID
WHERE pi.productName = #{param1} AND b.branchName = #{param2};

	</select>
	
</mapper>