<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="kr.co.cocean.tank.dao.TankDAO">

	<select id="tankList" parameterType="Tank" resultType="Tank">
		SELECT tm.tankID , tm.tankName ,
		tc.tankType, b.branchName, tm.tankStatus, e.name FROM tankManagement tm
		,inCharge ic ,branch b, tankCategory tc, employee e
		WHERE ic.category = 'tank' and ic.employeeID = e.employeeID and tm.tankID =
		ic.idx and tm.categoryID = tc.categoryID and tm.branchID = b.branchID
		GROUP BY tankID ORDER BY tankID ASC 
	</select>
	
	<select id="getBranch" resultType="map">
		SELECT branchID, branchName FROM branch
	</select>
	
	<insert id="tankReg" parameterType="map" useGeneratedKeys="true" keyProperty="tankID">
	INSERT INTO tankManagement (tankID,categoryID,branchID,registrationDate,capacity,tankName,tankStatus)
	VALUES (null, #{categoryID}, #{branchID}, now(), #{capacity}, #{tankName}, '정상') 
	</insert>
	
	<insert id="mngItem" parameterType="map">
		INSERT INTO managementItemsTable (tankID, area, flooring, filter, mercury, waterLevel, 
				salinity, pH, dO, nitrates, nitrites, ammonia, phosphates) 
			VALUES (#{tankID}, #{area}, #{flooringNo}, #{filterType}, #{mercury}, #{waterLevel}, 
				#{salinity}, #{pH}, #{dO}, #{nitrates}, #{nitrites}, #{ammonia}, #{phosphates})
	</insert>
	
		<insert id="inChargeTank" parameterType="map">
		INSERT INTO inCharge (employeeID, category, idx) 
				VALUES (#{employeeID}, 'tank', #{tankID})
	</insert>
	
	<select id="tankDetail" resultType="map">
		SELECT mit.*, tm.* FROM managementItemsTable mit, tankManagement tm 
			WHERE mit.tankID = #{param1} AND tm.tankID = #{param1}
	</select>
	
	
	
	
</mapper>