<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="kr.co.cocean.mypage.dao.WorkDAO">
<select id="work" resultType="work">
SELECT workDate, workID,employeeID,
DATE_FORMAT(gowork,'%H:%i:%s'),date_format(leavework,'%H:%i:%s')from work
</select>



</mapper>